/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
	max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1.2;
	font-size: 16px;
	/* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
	font-family: 'Source Serif Pro', serif;
}

/* ------------------ */

body._lock {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	background: url('../img/fon-beg-1.jpg');
}

/* HEADER */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: #f1ddc4;
}
.header__container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 70px;
}
.header__logo {
	flex: 0 0 60px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	z-index: 3;
}
.header__logo img {
	display: block;
}
.header__logo img:hover {
	transform: rotate(360deg);
	transition: 800ms;
}
.menu__icon {
	display: none;
}
.menu__body {
	text-transform: uppercase;
}
a.active {
	color: #2b2e31be;
	font-weight: 900;
	font-size: 18px;
}
.menu__list > li {
	position: relative;
	margin-left: 30px;
}
.menu__link {
	color: #2b2e31;
	font-size: 18px;
}
.menu__link:hover {
	transition: .8s;
	color: #1b7d18;
	font-weight: 900;
	display: flex;
}
.menu__sub-list {
	position: absolute;
	top: 100%;
	right: -40px;
	background-color: #beaa93;
	padding: 10px;
	min-width: 170px;
}
.menu__sub-list li,
.menu__sub-sub-list li {
	margin-bottom: 10px;
}
.menu__sub-list li:last-child,
.menu__sub-sub-list li:last-child {
	margin: 0;
}
.menu__sub-link,
.menu__sub-sub-link {
	color: #474646;
}
.menu__sub-link {
	font-weight: 700;
}
.menu__sub-link:hover,
.menu__sub-sub-link:hover {
	color: #1b7d18;
	font-weight: 900;
	transition: .8s;
}

/* ----------------------- */
/* ADAPTATION */
.menu__arrow,
.menu__sub-arrow {
	display: none;
}
/* ADAPTAITION FOR PC */
body._pc .menu__list > li:hover .menu__sub-list,
body._pc .menu__sub-list > li:hover .menu__sub-sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
/* ADAPTAITION FOR TOUCHSCREEN */
body._touch .menu__list > li,
body._touch .menu__sub-list > li {
	display: flex;
	align-items: center;
}
body._touch .menu__link,
body._touch .menu__sub-link {
	flex: 1 1 auto;
}
body._touch .menu__arrow,
body._touch .menu__sub-arrow {
	display: block;
	width: 0;
	height: 0;
	margin-left: 5px;
}
body._touch .menu__arrow {
	transition: transform 0.3s ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #474646;
}

body._touch .menu__list > li._active .menu__sub-list,
body._touch .menu__sub-list > li._active .menu__sub-sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow,
body._touch .menu__sub-list > li._active .menu__sub-arrow {
	transform: rotate(-180deg);
}

/* ----------------------- */
/* MEDIA QUERIES */

@media (min-width: 767px) {
	/* MAIN MENU */
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list > li {
		padding: 10px 0;
	}
	.menu__sub-list,
	.menu__sub-sub-list {
		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}
	.menu__sub-list > li {
		padding: 10px 0;
	}
	.menu__sub-sub-list {
		position: absolute;
		top: 0;
		left: 90%;
		background-color: #e1c9bd;
		padding: 20px;
		min-width: 230px;
	}
	body._touch .menu__sub-arrow {
		margin-right: 15px;
		border-left: 10px solid #474646;
		border-right: none;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
	}
	/* SOC.ICONS - HEADER */
	.soc-icons {
		display: flex;
		align-items:center;
	}
	.soc-icons-header {
		justify-content: end;
	}
	.soc-icons a {
		width: 25px;
		height: 25px;
		text-align: center;
		line-height: 25px;
	}
	.soc-icons-header a {
		margin-left: 20px;
	}
	.soc-icons a:hover {
		transform: scale(1.4);
		transition: .7s;
	}
}

@media (max-width: 767px) {
	/* BURGER */
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #000;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: "";
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}
	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #e5d0b5;
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body._active {
		left: 0;
	}

	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px;
		background-color: #f1ddc4;
		z-index: 2;
	}

	.menu__list > li,
	.menu__sub-list > li {
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	.menu__list > li:last-child,
	.menu__sub-list > li:last-child {
		margin-bottom: 0;
	}
	.menu__list > li._active .menu__sub-list,
	.menu__sub-list > li._active .menu__sub-sub-list {
		display: block;
	}
	.menu__link,
	.menu__sub-link,
	.menu__sub-sub-link {
		font-size: 18px;
	}
	.menu__sub-link {
		color: #474646;
		font-weight: 700;
		padding: 10px 0;
	}
	.menu__sub-sub-link {
		color: #474646;
	}
	.menu__sub-list,
	.menu__sub-sub-list {
		position: relative;
		flex: 1 1 100%;
		display: none;
		top: 0;
		left: 0;
		padding: 10px;
	}
	.menu__sub-list {
		background-color: #beaa93;
		margin-top: 10px;
	}
	.menu__sub-sub-list {
		background-color: #e1c9bd;
		margin-top: 15px;
	}

	body._touch .menu__sub-arrow {
		border-left: 5px solid transparent; 
		border-right: 5px solid transparent;
		border-top: 10px solid #474646;
		border-bottom: none;
	}

	.soc-icons-header {
		display: none;
	}
}

/* ------------------ */
/* MAIN */
main {
    padding-top: 70px;
}
/* PART 1: PRESENTATION JULI */
.part-presentation {
    background: url('../img/zastavka-green-2.jpg');
    padding: 40px 0;
}
.hello {
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.presentation-word {
    font-family: 'Lobster', cursive;
    background-color: rgba(255, 255, 255, .6);
    text-align: center;
    padding: 40px 5px;
    font-size: 22px;
}
.presentation-word h1 {
    font-size: 32px;
    padding-bottom: 30px;
}
.presentation-word p {
    margin-bottom: 1.7rem;
}
.presentation-word p:last-child {
    margin-bottom: 0.3rem;
}

/* ----------------------- */
/* MEDIA QUERIES */

@media (min-width: 767px) {
    .game__item,
	.konsult__item {
    	margin: 20px;
	}
	.error-table {
		font-size: 12px;
		padding: 20px;
		margin: 0 180px;
	}
}@media (max-width: 767px) {
    .presentation-word {
        padding: 35px 5px;
        font-size: 18px;
    }
    .presentation-word h1 {
        font-size: 26px;
        padding-bottom: 30px;
    }
	.game__item,
	.konsult__item {
    	margin-bottom: 20px;
	}
	.table {
		font-size: 14px;
	}
	.error-table {
		font-size: 12px;
		padding: 20px 0;
		margin: 0 20px;
	}
}

/* PART 2: PRESENTATION GAME */
/* PART 3: TRAINING */
h1.projects {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    background-color: rgba(142, 212, 142, 0.4);
    margin-bottom: 20px;
    padding: 35px 0;
}
.game__item,
.konsult__item {
    background-color: rgba(253, 245, 234, 0.7);
    border: 1px solid #d7c7b0;
    border-radius: 10px;
    padding: 10px;
	margin-bottom: 20px;
    display: flex;
    align-items: center;
	justify-content: space-around;
    text-align: center;
    box-sizing: border-box;
}
.game__item img {
    margin: 10px;
    max-width: 90%;
    border-radius: 20px;
}
.konsult__item img {
    margin: 15px 0;
    max-height: 200px;
    border-radius: 20px;
}
.game__item h3,
.konsult__item h3 {
    height: 50px;
    font-weight: 900;
    font-size: 18px;
    margin-top: 5px;
}
.game__item p,
.konsult__item p {
    font-size: 16px;
    margin: 0.4em 0;
}
.btn__item {
    border: 1px solid #b09979;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background-color: #d8c8b1;
    margin: 10px 0;
    align-self: center;
}
.btn__item:hover {
    background-color: rgba(142, 212, 142, 0.6);
    border: 1px solid #70972d;
    color: #000;
    transition: 1s ease;
    box-shadow:
    0 0 3px rgba(0,0,0,.5) inset,
    0 4px 5px rgba(0,0,0,.5) inset,
    0 3px 3px rgba(255,255,255,.1);
}
a.game__go {
    color: black;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
}

/* PART 4: PRICE */
.img-table {
	width: 20px;
}
.table-success a {
	color: #000;
}
.table-success a:hover {
	color: #1b7d18;
	font-weight: 900;
	transition: .8s;
}
.error-table {
	text-align: center;
	border: 3px solid #ff0000;
	border-radius: 20px;
}
.error-table p {
	margin-bottom: 0;
}
/* ------------------- */
/* FOOTER */
footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #000;
	color: white;
	margin-top: 20px;
	padding: 20px;
}
.footer-logo {
	margin: 20px;
	padding-right: 50px;
	width: 160px;
}
.footer-logo img {
	max-width: 100%;
}
.footer-border {
	border: 2px solid white;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px 0;
	padding: 10px 20px;
	border-radius: 20px;
}
.footer-contacts {
	width: 100%;
	font-size: 16px;
	line-height: 1.3;
}
.footer-contacts p {
	margin: 5px;
}
.soc-icons-footer {
	margin-left: 35px;
	justify-content: center;
}
.soc-icons-footer a {
	width: 25px;
	height: 25px;
	line-height: 25px;
	background-color: #000;
	justify-content: flex-start;
	margin: 10px 30px;
}
.soc-icons-footer a:first-child {
	margin-left: 0;
}
.soc-icons-footer a:hover {
	transform: scale(1.4);
	transition: 0.7s;
}
.copy {
	margin: 10px 0 0 10px;
	font-size: 12px;
}

/* ----------------------- */
/* MEDIA QUERIES */

@media (max-width: 767px) {
	.soc-icons-footer {
		display: flex;
		align-items:center;
		justify-content: space-around;
		margin: auto;
	}
	.soc-icons-footer a {
		text-align: center;
	}
	.footer-logo {
		display: none;
	}
}

/* ----------------------- */
/* PAGE GAME */
.wrapper__jasnost-v-temnote {
	max-width: 100%;
	margin-top: 15px;
	background-image: url('../img/fon-jasnost-v-temnote-2.jpg');
}
.wrapper__seksualnost-energia-gizni {
	max-width: 100%;
	background-image: url('../img/fon-seksualnost-kak-energia-gizni-2.jpg');
}
.main__celostnij-ja {
	width: 100%;
	height: 100%;
}
.main__consultation {
	display: flex;
	align-items: center;
	flex-direction: column;
    box-sizing: border-box;
}

.page__game-general {
	background-color: rgba(255, 255, 255, .8);
}
.page__game-jasnost-v-temnote,
.page__game-seksualnost-energia-gizni {
	background-color: rgba(255, 255, 255, .6);
}
.page__game h1 {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.page__game-jasnost-v-temnote h1,
.page__game-seksualnost-energia-gizni h1 {
	font-weight: 900;
}
.page__game h2 {
	font-weight: bold;
	text-indent: 40px;
}
.page__game p {
	text-align: justify;
	text-indent: 40px;
}
.page__game-seksualnost-energia-gizni p,
.page__game-seksualnost-energia-gizni li {
	font-weight: 700;
}
.page__game ul {
	text-indent: 60px;
}
.section__celostnij-ja-end {
	display: flex;
	align-items: flex-start;
}

/* ----------------------- */
/* MEDIA QUERIES */

@media (min-width: 767px) {
	.page__game {
		margin: 30px;
		padding: 30px;
	}
	.page__game h1 {
		font-size: 26px;
		margin: 0 10px 30px 0;
	}
	.page__game p {
		padding: 0 20px;
	}
	.page__game-jasnost-v-temnote p,
	.page__game-jasnost-v-temnote li {
		font-weight: 700;
	}
	.img__juli-seksualnost-energia-gizni {
		width: 45%;
		margin: 0 0 20px 30px;
	}
	.img__juli-celostnij-ja {
		width: 40%; 
		margin: 0 30px 20px 0;
	}
	.img__game-celostnij-ja {
		width: 35%; 
		margin: 30px 0 0 20px;
	}
	.img__game-moja-professia-i-dengi {
		width: 35%; 
		margin: 0 30px 20px 0;
	}
	.img__juli-gizn-kak-cennost,
	.img__game-givu-kak-dumaju,
	.img__juli-consultation,
	.img__juli-training {
		width: 30%; 
		margin: 0 30px 20px 0;
	}
	.img__game-jasnost-v-temnote {
		width: 27%; 
		margin: 5px 30px 20px 0;
	}
	.img__game-celostnij-ja-end {
		width: 230px;
	}
	.img__game-gizn-kak-cennost,
	.img__family-consultation {
		width: 25%; 
		margin: 30px 0 0 20px;
	}
	.img__game-training {
		width: 20%;
		margin: 10px 0 10px 20px;
	}
}

@media (max-width: 767px) {
	.page__game {
		margin: 20px;
		padding: 15px;
	}
	.page__game h1 {
		font-size: 16px;
		margin: 0 10px 15px 0;
	}
	.page__game-jasnost-v-temnote p,
	.page__game-jasnost-v-temnote li {
		font-size: 15px;
	}
	.img__juli-gizn-kak-cennost,
	.img__juli-celostnij-ja,
	.img__game-givu-kak-dumaju,
	.img__game-moja-professia-i-dengi,
	.img__juli-consultation,
	.img__juli-training {
		margin: 0 12px 12px 0;
	}
	.img__game-gizn-kak-cennost,
	.img__game-celostnij-ja,
	.img__juli-seksualnost-energia-gizni,
	.img__family-consultation,
	.img__game-training {
		margin: 12px 0 12px 12px;
	}
	.img__game-celostnij-ja-end {
		margin-bottom: 20px;
	}
	.img__game-jasnost-v-temnote {
		width: 30%; 
		margin: 5px 30px 30px 0;
	}
}

/* ----------------------- */
/* TIMETABLE */
.page__section_timetable h1 {
	margin-top: 20px;
	font-size: 25px;
}
.timetable {
	display: flex;
	justify-content: space-between;
}
.calendar {
	line-height: 1;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
	color: #404040;
	margin: 50px auto;
	min-width: 220px;
	max-height: 220px;
}
.table__calendar {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 auto;
	display: block;
	width: 216px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.table__calendar a {
	text-decoration: none;
}
.table__calendar caption {
	display: block;
	line-height: 32px;
	font-weight: bold;
	color: #e2e2e2;
	text-align: center;
	text-shadow: 0 -1px black;
	background: #6aabbb;
	background: rgb(0, 0, 0);
	border-top: 1px solid #333;
	border-bottom: 1px solid #313131;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
}
.table__calendar caption a {
	display: block;
	line-height: 32px;
	padding: 0 10px;
	font-size: 15px;
	color: #e2e2e2;
}
.table__calendar caption a:hover {
	color: white;
}
.table__calendar caption .prev {
	float: left;
}

.table__calendar caption .next {
float: right;
}
.table__calendar th, .table__calendar td {
	width: 30px;
	text-align: center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}
.table__calendar th:first-child, .table__calendar td:first-child {
	border-left: 0;
}
.table__calendar th {
	line-height: 20px;
	font-size: 8px;
	color: #000000;
	text-transform: uppercase;
	background: #f3f3f3;
	border-left: 1px solid #f3f3f3;
}
.table__calendar td {
	font-size: 11px;
	font-weight: bold;
	border-top: 1px solid #c2c2c2;
	border-left: 1px solid #c2c2c2;
}
.table__calendar td a {
	clear: both;
	display: block;
	position: relative;
	width: 30px;
	line-height: 28px;
	color: #666;
	background-image: linear-gradient(to bottom, #eaeaea 0%, #e5e5e5 60%, #d9d9d9 100%);
	box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}
.table__calendar td a:hover, .table__calendar td.off a {
	background: #f3f3f3;
}
.table__calendar td.off a {
	color: #b3b3b3;
}
.table__calendar td.active a, .table__calendar td a:active {
	margin: -1px;
	color: #f3f3f3;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background: #6dafbf;
	border: 1px solid #598b94;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}
.table__calendar td.active:first-child a, .table__calendar td:first-child a:active {
	border-left: 0;
	margin-left: 0;
}
.table__calendar td.active:last-child a, .table__calendar td:last-child a:active {
	border-right: 0;
	margin-right: 0;
}
.table__calendar tr:last-child td.active a, .table__calendar tr:last-child td a:active {
	border-bottom: 0;
	margin-bottom: 0;
}

/* ----------------------- */
/* MEDIA QUERIES */

@media (min-width: 767px) {
	.page__section_timetable h1 {
		margin-top: 20px;
		font-size: 25px;
	}
}

@media (max-width: 767px) {
	.page__section_timetable h1 {
		margin-top: 30px;
		font-size: 18px;
		margin: 0 0 20px 0;
		padding: 15px 0;
	}
}

/* CONTACTS */
.container {
	max-width: 1200px;
}
.wrp {
	display: flex;
	justify-content: space-around;
	max-width: 100%;
}
.contact-box {
	box-sizing: content-box;
	min-width: 250px;
	margin: 0 10px 20px 10px;
	background-color: rgba(255, 255, 255, .8);
	border-radius: 10px;
	box-shadow: -1px -1px 24px 0px rgba(50, 50, 50, 0.5);
}
.contact-text h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}
.contact-text p {
	display: flex;
	justify-content: center;
	color: black;
}
.contact-text a {
	color: #000;
}
.soc-icons-contact {
	display: flex;
	justify-content: center;
	align-items: center;
}
.soc-icons-contact a {
	margin: 10px;
}
iframe {
	max-width: 100%;
	max-height: 390px;
}
.footer-logo-contacts {
	width: 160px;
}
.footer-logo-contacts img {
	background-color: none;
	max-width: 20%;
}

